
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <title>{% block titulo %}{% endblock %}</title>
       <link rel="stylesheet" href="{% static 'assets/css/estilos.css' %}">
        

        
</head>
<body >

    <style>
        header.masthead{
            background-image: url("{% static  'assets/img/header-bg.jpg' %}");
           
        }
    </style>


    {% block contenido %} {% endblock %}
        
<!-- ejecuta todo desde la base -->
<!-- todo lo que se ve se hace desde la base-->
        

      
                              
        
    </body>
</html>
  